.btn-position {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 1px dashed black;
    border-radius: 50%;
    color: black;
    font-weight: bold;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
        border-style: solid;
    }
}

.clear-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.GK {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    &:hover {
        color: #F6BE00;
        border-color: #F6BE00;
    }
    &.choosed {
        background-color: #F6BE00;
        color: $white;
    }
}

.CB {
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
    &:hover {
        color: blue;
        border-color: blue;
    }
    &.choosed {
        background-color: blue;
        color: $white;
    }
}

.LB {
    bottom: 12%;
    left: 10%;
    &:hover {
        color: blue;
        border-color: blue;
    }
    &.choosed {
        background-color: blue;
        color: $white;
    }
}

.RB {
    bottom: 12%;
    right: 10%;
    &:hover {
        color: blue;
        border-color: blue;
    }
    &.choosed {
        background-color: blue;
        color: $white;
    }
}

.LWB {
    bottom: 23%;
    left: 10%;
    &:hover {
        color: blue;
        border-color: blue;
    }
    &.choosed {
        background-color: blue;
        color: $white;
    }
}

.RWB {
    bottom: 23%;
    right: 10%;
    &:hover {
        color: blue;
        border-color: blue;
    }
    &.choosed {
        background-color: blue;
        color: $white;
    }
}

.CDM {
    bottom: 28%;
    left: 50%;
    transform: translateX(-50%);
    &:hover {
        color: green;
        border-color: green;
    }
    &.choosed {
        background-color: green;
        color: $white;
    }
}

.LM {
    bottom: 45%;
    left: 10%;
    &:hover {
        color: green;
        border-color: green;
    }
    &.choosed {
        background-color: green;
        color: $white;
    }
}

.CM {
    bottom: 45%;
    left: 50%;
    transform: translateX(-50%);
    &:hover {
        color: green;
        border-color: green;
    }
    &.choosed {
        background-color: green;
        color: $white;
    }
}

.RM {
    bottom: 45%;
    right: 10%;
    &:hover {
        color: green;
        border-color: green;
    }
    &.choosed {
        background-color: green;
        color: $white;
    }
}

.CAM {
    bottom: 58%;
    left: 50%;
    transform: translateX(-50%);
    &:hover {
        color: green;
        border-color: green;
    }
    &.choosed {
        background-color: green;
        color: $white;
    }
}

.CF {
    bottom: 71%;
    left: 50%;
    transform: translateX(-50%);
    &:hover {
        color: red;
        border-color: red;
    }
    &.choosed {
        background-color: red;
        color: $white;
    }
}

.ST {
    bottom: 84%;
    left: 50%;
    transform: translateX(-50%);
    &:hover {
        color: red;
        border-color: red;
    }
    &.choosed {
        background-color: red;
        color: $white;
    }
}


.RW {
    bottom: 77%;
    right: 10%;
    &:hover {
        color: red;
        border-color: red;
    }
    &.choosed {
        background-color: red;
        color: $white;
    }
}

.LW {
    bottom: 77%;
    left: 10%;
    &:hover {
        color: red;
        border-color: red;
    }
    &.choosed {
        background-color: red;
        color: $white;
    }
}