$black_bg: #121212;
$header_bg: #5D5C61;
$section_bg: #272c34;

$white: #ffffff;
$primary: #1976d2;
// font size
$font_size: 16px;

$font_size_header--desktop: 48px;
$font_size_header--tablet: 40px;
$font_size_header--moblie: 32px;

$font_size_sup_header--desktop: 36px;
$font_size_sup_header--tablet: 32px;
$font_size_sup_header--moblie: 26px;